# Godot 4+ specific ignores
.godot/
.import/

# Godot-specific
*.translation
*.import
*.md5

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# System/tool-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# Export builds
exports/*.pck
exports/*.zip
